<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Python and Flask in Finance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
</head>


               <!-----------------------------------------------------------------
               <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
               (top of the page) navbar:
               python and flask in finance
               about
               reference
               <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
               ------------------------------------------------------------------->
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Python and Flask for Finance</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Reference</a></li>
          </ul>
        </div>
      </div>
    </nav>

             <!-----------------------------------------------------------------
               <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
               left side bar:
               index <- current page
               BSM Option Pricing
               Option Price Interactive Graph
               Bootstrap Interest Rates
               <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
               ------------------------------------------------------------------->

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="http://projectmafin.herokuapp.com/">Index <span class="sr-only">(current)</span></a></li>
            <li><a href='http://webappmafin.herokuapp.com/bsm'>BSM Option Pricing</a></li>
            <li><a href="http://webappmafin.herokuapp.com/bsm_interactive">Option Price Interactive Graph</a></li>
            <li><a href="http://webappmafin.herokuapp.com/bootstrap_upload">Bootstrap Interest Rate</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Documentation</a></li>
            <li><a href="">Links</a></li>
            <li><a href="">Acknowledgement</a></li>
          </ul>
        </div>
               <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <!-----------------------------------------------------------------
          =====================1: Overview============================
          -------------------------------------------------------------------->
          <br>
          <h3 class="page-header">Welcome</h3>
          <br>

          <div class="panel panel-default">
                <div class="panel-heading">Welcome</div>
                <div class="panel-body">
                <!--overview-->
               <h3>" True happiness consists in eliminating the false idea of 'I'. "</h3>
                    <br>
                    <h4>Buddhadasa</h4>
                </div>
            </div>


      </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>